@{
    ViewData["Title"] = "Logout";
}

<h1>Logout</h1>
<p>Are you sure you want to logout?</p>

<form asp-action="LogoutConfirmed" asp-controller="Account" method="post">
    @Html.AntiForgeryToken()
    <input type="submit" class="btn btn-primary" value="Logout" />
</form>

<p>
    <a asp-controller="Home" asp-action="Index">Back to Home</a>
</p>